<%- include('../includes/head.ejs') %>
    
</head>

<body>
    <%- include('../includes/navigation.ejs', {path: path}) %>
    <main>
       <h1> Nothing is here</h1> 
    </main>
    <%- include('../includes/end.ejs') %>